.card_btn {
  position: absolute;
  margin: -12px 78px 35px;
  color: #000000;
  font-size: 25px;
  padding: 5px 15px;
  transition: all 0.5s ease-in-out;
  background-color: #AE3C85;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
}

.card_btn:hover {
  color: #ffffff;
}