.box_skill {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container_skill_box {
  background-color: #fff;
  border-radius: 10px;
  height: 150px;
  margin: 20px;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: all 0.2s ease-in-out;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_skill_box:hover {
  border: 1px solid var(--bg-cardBotao);
  transform: scale(1.05);
}
