.btn {
  color: var(--card-color);
  font-size: clamp(16px, 16px + 1vw, 25px);
  padding: 5px 15px;
  transition: all 0.5s ease-in-out;
  background-color: var(--bg-cardBotao);
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
}

.btn:hover {
  color: #ffffff;
  background-color: #AE3C85;
  border-radius: 50%;
}

@media (max-width: 1026px) {
  .btn {
    font-size: clamp(14px, 14px + 1vw, 20px);
  }
}