.btn {
  color: var(--card-color);
  font-size: clamp(16px, 16px + 1vw, 25px);
  padding: 5px 14px;
  transition: all 0.5s ease-in-out;
  background-color: var(--bg-cardBotao);
  border-radius: 5px;
}

.btn:hover {
  color: #ffffff;
  background-color: var(--bg-cardBotaoHover);
}

@media (max-width: 1026px) {
  .btn {
    font-size: clamp(14px, 14px + 1vw, 20px);
  }
}