.box {
  padding: 0 7%;
  
  /* min-height: 81vh; */
}

.home_flex {
  padding: 50px 0 50px;
  display: flex;
  min-height: calc(80vh - 101px);
  align-items: center;
  justify-content: space-around;
}

.boxTexto p {
  color: var(--h1-geral);
  font-size: calc(24px + 2vw);
}

.boxTexto .corNone {
  color: var(--bg-cardBotao);
}

.boxFoto {
  margin-left: 90px;
  max-width: 500px;
}

.boxFoto img {
  border-radius: 50%;
  width: 400px;  
  height: 400px;
  object-fit: cover;
}

@media (max-width: 896px) {
  .home_flex {
    flex-direction: column;
    justify-content: center;
  }

  .boxFoto {
    margin-top: 50px;
    margin-left: 0px;
  }
}