.container_carrossel {
  margin-top: 50px;
}

.carrossel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px 28px 0px;
}

.carrossel::-webkit-scrollbar {
  display: none;
}

/* .carrossel_item {
  width: 170px;
  margin: 10px;
  overflow: hidden;
  flex: none;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  transition: all ease-in-out 0.3s;
} */

/* .carrossel_item:hover {
  transform: scale(1.05);
} */

/* .carrossel_image {
  width: 170px;
  height: 115px;
} */

/* .carrossel_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: white;
} */

/* .carrossel_info {
  height: 150px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  background-color: darkgoldenrod;
} */

/* .carrossel_titulo {
  flex-grow: 1;
  font-weight: 500;
  color: darkmagenta;
} */

/* .carrossel_info .carrossel_preco {
  margin-bottom: 10px;
  text-align: center;
  color: greenyellow;
} */

.carrossel_btn {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  top: -205px;
  z-index: 10;
}

.carrossel_btn button {
  justify-content: space-between;
}

.carrossel_seta_left,
.carrossel_seta_rigth {
  position: absolute;
  font-size: 40px;
  transition: all ease-in-out 0.3s;
  height: 360px;
  color: rgba(255, 255, 255, 0.514);
  background-color: rgba(0, 0, 0, 0.486);
  opacity: 0;
}

.carrossel_seta_rigth {
  right: 0;
}

.teste:hover .carrossel_seta_left,
.teste:hover .carrossel_seta_rigth {
  opacity: 1;
}

.carrossel_seta_rigth {
  transform: rotate(180deg);
}

/* .carrossel_info_start {
  text-align: center;
} */

.ativaSetaHover {
  background-color: darkmagenta;
}

@media (max-width: 425px) {
  .carrossel_btn {
    display: none;
  }
}