.card_box {
  margin: 0px 25px 25px;
}

.card_container {
  max-width: 300px;
  height: 370px;
  min-height: 370px;
  border-radius: 10px;
  overflow: hidden;
  border: solid 1px var(--bg-cardBotao);
  background-color: var(--bg-card);
  transform: scale(1);
  transition: all ease 0.5s;
}

.card_container:hover {
  transform: scale(1.03);
}

.card_container_img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_container div img {
  max-width: 300px;
}

.btnposition {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardBotao_position {
  position: absolute;
  bottom: 0px;
}

.card_descricao {
  text-align: center;
  font-size: 18px;
  padding: 0px 10px;
  font-weight: 500;
  color: var(--card-text-color);
}

.card_descricao h4 {
  color: var(--card-title);
  font-size: 25px;
}

.card_descricao p {
  margin: 0 10px 10px;
}



@media (max-width: 581px) {
  .card_container {
    max-width: 280px;
  }

  .card_box {
    margin: 0px 13px 25px;
  }
}