.card_box {
  margin: 40px 25px 0px;
}

.card_container {
  max-width: 300px;
  min-height: 360px;
  border-radius: 10px;
  overflow: hidden;
  border: solid 1px #000;
  background-color: #0084ff;
  transform: scale(1);
  transition: all ease 0.5s;
}

.card_container:hover {
  transform: scale(1.1);
}

.CardBotao_position {
  position: absolute;
  bottom: 0px;
}

.card_descricao {
  text-align: center;
  padding: 0px 10px;
  font-weight: 500;
}

.card_descricao h4 {
  color: #fff;
  font-size: 23px;
}

.card_descricao p {
  margin: 0 10px 10px;
}