.nav_header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-header);
  border-bottom-style: solid;
  border-bottom-color: var(--bg-card);
}

.nav_header h1 {
  color: var(--header-logo);
  font-size: 30px;
}

.nav_link {
  display: flex;
}

.nav_link li {
  padding: 5px 10px;
}

button {
  display: none;
}

#hidden {
  display: flex;
}

.hix, .aiOutlinesBars {
  font-size: 25px;
}


@media (max-width: 814px) {
  button {
    display: flex;
  }

  .nav_link {
    display: none;
  }

  #hidden {
    z-index: 10;
    position: absolute;
    left: 0px;
    top: 80px;
    height: 211px;
    max-height: 211px;
    width: 100%;
    background-color: var(--bg-header);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-color: var(--bg-card);
  }

  #hidden a {
    line-height: -1px;
  }
}