.nav_header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-header);
  border-bottom-style: solid;
  border-bottom-color: var(--bg-card);
}

.nav_header a {
  color: var(--header-logo);
  font-size: 30px;
}

.nav_link {
  display: flex;
}

.nav_darkMode {
  display: flex;
}

.nav_darkMode span {
  font-size: 40px;
}

.nav_link li {
  padding: 5px 10px;
}

button {
  display: none;
}

#hidden {
  display: flex;
}

.hix, .aiOutlinesBars {
  font-size: 25px;
}

/* ========== */
.darkMode_container {
  padding: 0px 17px 0 15px;
  border-radius: 40px;
  background-color: transparent;
  -webkit-box-shadow: 5px 5px 37px 6px var(--darkMode-container);
  box-shadow: 5px 5px 37px 6px var(--darkMode-container),
      inset 0px 0px 65px -20px var(--darkMode-inset);
}

.switch-checkbox {
  margin: 13px 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #494848;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ========== */


@media (max-width: 814px) {
  button {
    display: flex;
  }

  .nav_link {
    display: none;
  }

  #hidden {
    z-index: 10;
    position: absolute;
    left: 0px;
    top: 114px;
    height: 211px;
    max-height: 211px;
    width: 100%;
    background-color: var(--bg-header);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-color: var(--bg-card);
  }

  #hidden a {
    line-height: -1px;
  }

  .nav_darkMode {
    position: relative;
  }

  .nav_darkMode span {
    font-size: 25px;
  }

  .switch-checkbox {
    margin: 9px 5px;
}
  
  .switch {
    width: 46px;
    height: 18px;
  }

  .slider {
    left: 5px;
  }

  .slider {
    top: 5;
    bottom: -3;
  }
  
  .slider:before {
    height: 16px;
    width: 16px;
    left: 0px;
    bottom: 1px;
  }

}