.sobre_box {
  padding: 50px 10px 50px;
  min-height: calc(80vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: var(--h1-geral);
  border-radius: 10px;
}

.sobre_box p {
  font-size: calc(13px + 1vw);
}

.sobre_box span {
  font-weight: 500;
}