.nav_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-header);
  border-top-style: solid;
  border-top-color: var(--bg-card);
  margin-top: 13px;
}