* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

:root {
  --bg-header: #212121;
  --header-logo: #ffffff;

  --h1-geral: #FFFFFF;

  --bg-geral: #0f0d35;

  --bg-card: #ffffff;
  --card-title: #695353;
  --card-text-color: #665f5f;

  --bg-cardBotao: #536DFE;
  --bg-cardBotaoHover: #AE3C85;
  --card-color: #FFFFFF;
  
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--bg-cardBotao);
}

html::-webkit-scrollbar-track {
  border-radius: 30px;
  background-color: var(--bg-header);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-geral);
}

.container {
  padding: 20px 7%;
}

h1 {
  text-align: center;
  color: var(--h1-geral);
}
